<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"><link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Marcar Consulta</title>
</head>
<body>
    <div class="container"> 

            <h1>Cadastro de Paciente</h1>
            <form method="Post">
                <label >Nome:</label>
                <input type="text" name="Nome" required>
                
                <label >Idade:</label>
                <input type="number" name="Idade" required>

                <label >Especialista:</label>
                <input type="text" name="Especialista" required>

                <button type="submit">
                    Cadastrar

                </button>

               
               

            </form>
            {% if resultado %}
        <div class="resultado">
            <p><strong>Nome:</strong> {{ resultado.nome }}</p>
            <p><strong>Idade:</strong> {{ resultado.idade }}</p>
            <p><strong>Especialista:</strong> {{ resultado.Especialista }}</p>
            
        </div>
    {% endif %}
            {% if Mensagem %}
            <div class="resultado">
                <p>{{Mensagem}}</p>
            </div>
            {% endif %}
    </div>
    
</body>
</html>